
.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: #eee;
}

.header {

}

.scsy1st {
    display: -webkit-box;
    position: relative;
    height: 700px
}

.mainCon {
    overflow: auto;
    height: 700px;

}

.text {
    width: 100vw;
    height: 700px;
}

.text p {
    margin: 0;
}


.pic {
    overflow: hidden;
    width: 500px;
    height: 500px;

    margin-left: -608px;
    margin-right: 481px;
}

.innerPic {
    width: 500px;
    height: 700px;
    background: none;
    overflow: hidden;
    position: sticky;
    top: 70px;
}

.imgSection {
    overflow: hidden;
    height: 700px;
}

.imgSection img {
    width: 500px;
    height: 700px;
    object-fit: cover

}