.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  padding: 1%;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #eee;
}
.header {
  margin-bottom: 25px
}

.content {
  background: linear-gradient(to bottom, #eeeeee 0%,#B7EAE0 100%);
  display: flex;
  padding: 20px 0;
  position: relative;
  width: 90vw;
  justify-content: flex-start;
  flex-direction: row;
}

.inner {
  display: flex;
  height: 1940px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.sideCont {
  margin-top: -20px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
