
.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: #eee;
}
.header {
  margin-bottom: 25px
}

.scsy1st {
  display: -webkit-box;
  position: relative;
  height: 100vh
}
.mainCon {
overflow: auto;
height: 700px;
  text-align: left;
}
.text {
  width: 100vw;
  height: 700px;
}



.pic {
  overflow: hidden;
  width: 500px;
  height: 500px;
  border: 5px solid snow;
  margin-left: -608px;
  margin-top: 10px;
  margin-right: 481px;
}

.innerPic {
width: 500px;
height: 720px;
background: none;
overflow: hidden ;
position: sticky;
top: 0
}
.imgSection {
overflow: hidden;
height: 700px;
}
.imgSection img {
width: 500px;
height: 630px;
object-fit: cover

}