
.side {
    height: 500px;

    position: sticky;
    top: 0px;

    align-items: center;
    margin: 20px 20px 20px 365px;

}
.side img {
    object-fit: cover;
    width: 500px;
    height: 555px;
    box-sizing: border-box;
    margin-left: -365px;
    margin-top: -20px;
}
.stC {
    display: flex;
    position: sticky;
    top: 100px;
    height: 500px;
    width: 500px;
    border: snow 10px solid;
    margin-left: 300px;
    margin-top: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
    overflow: auto;
}
